@import "./css/produccion_dj";
@import "./css/contacto";
@import "./css/eventos";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color_primario: #8527c3fd;
    --color_primario_suave: #8527c383;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

body{
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {

    height: var(--altura_header);
    background-color: #444;

}

.navbar {
    height: 100%;
    padding: 0 var(--padding_left_right);
    width: min(1200px, 100%);
    margin: 0 auto;
    border-bottom: solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

.menu-hamburguesa {
    display: none;


    
}

.menu-hamburguesa:checked + .ul-links{
    height: calc(100vh - var(--altura_header));
}


.logo a{
    text-decoration: underline;
    color: black;
    font-size: 40px;
    margin-left: 0.5rem;

    a:hover {
        color: white;
        font-size: 40px;
        background-color: black;
        border-radius: 10%;
    }
    
}

// .logo a:hover{
//     color: white;
//     font-size: 40px;
//     background-color: black;
//     border-radius: 10%;
// }



.list-icon {
     cursor: pointer;
}

.ul-links {
    background-color: #333;
    width: 100%;
    position: absolute;
    top: var(--altura_header);
    left: 0;
    display: flex;
    justify-content: center;
    height: 0;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header)); */
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transition: all .3s;

}


.link {
    font-size: 2rem;
    color: black;
    font-weight: bold;

}

.redes {
    display: none;
    gap: 10px;
    margin-right: 1rem;
}


.contenedor{
    background-color: rgba(226, 194, 194, 0.863);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "foto1 foto2 foto2"
    "foto1 foto3 foto3"
    "info info info";
}

.titulo {
    background-color: chocolate; 
    font-family: "Poetsen One", sans-serif;
    height: 150px;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.foto1 {
    grid-area: foto1;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.foto1 img { 
    width: 100%;
    height: 300px;
    margin-bottom: 4rem;
    border-radius: 10px;
    border: 1px solid black;
}

.foto2 {
    grid-area: foto2;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.foto2 img { 
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

.foto3 { 
    grid-area: foto3;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto3 img { 
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

.info { 
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    grid-area: info;
    border-top: 1px solid black;
    margin: 1rem;

     h3 {
         margin-bottom: 1rem;
        font-size: 30px;

    }
    
}


footer { 
    border-top: 2px solid black;
    width: 100%;
    background-color: gray;
    padding: 1rem 0 0 1rem;

    p{
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        display: flex;
    }
}


.grupo-1 {
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

}

.caja-1 { 
    padding-left: 2rem;

    h4 {
        margin-bottom: 10px;
    }
    
}


.caja-2 { 
    padding-left: 5rem;
    
    h4{ 
        margin-bottom: 20px;
        
    }
}

.caja-2 ul{ 
    gap: rem;

    li {
        margin: 1px;
        padding: 1px;
        background-color: gray;
    }

    a { 
        margin: 5px;
        padding: 5px;
        color: black;
    }
}


.caja-2 ul a:hover{ 
    color: white;
    background-color: black;
    border-radius: 20%;
 
}


.grupo-2 { 
    text-align: center;
}







/*----------------------------


RESPONSIVE 


-----------------------------*/


/* INDEX */


@media (min-width: 750px) {
    .label-hamburguesa {
        display: none;
    }

    .ul-links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 1rem;
        background-color: #444;

    }

    .redes {
        display: flex;
        gap: 3px;
        margin-right: 0;

    }

    .redes li a {
        text-decoration: none;
        color: black;
        padding: 3px;
        margin: 3px;
        font-size: 30px;
    }
    
    .redes li a:hover {
        color: white;
        background-color: black;
        border-radius: 20%;
    }

    .link {
        font-size: 1.2rem;
        
    }

    .link:hover {
        text-decoration: underline double;
    }
}




@media only screen and (max-width: 850px){


    .titulo {
        height: 100%;
        
    }

    .contenedor {
        grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "titulo titulo titulo"
        "foto1 foto1 foto1"
        "foto2 foto2 foto2"
        "foto3 foto3 foto3"
        "info info info";
    }


}



